@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #d1adfe;
  --color-accent-1: #fddd62;
  --color-accent-2: #fe9687;
  --color-accent-3: #d1adfe;
  --color-light: #ffffff;
  --color-dark: #0a0a0a;
}

/* Optional: Custom utility classes (if needed) */
@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-dark);
  }
}